.header_title {
  position: relative;
  top: -460px;
  left: 250px;
  width: 100%;
  color: #ffffff;
  text-shadow: black 1px 1px 1px;
}

.header_title_name {
  display: inline-block;
  width: 100%;
  font-size: 60px;
}

.header_title_position {
  font-size: 30px;
}

#avatar {
  position: relative;
  left: 50px;
  top: -235px;
  width: 170px;
}

#left_content_div {
  float: left;
  position: relative;
  left: 20px;
  top: -380px;
  width: 45%;
}

#right_content_div {
  float: left;
  position: relative;
  top: -380px;
  left: 90px;
  width: 45%;
}

body {
  background: #d8d0d0;
}

.section_title {
  background: #569993;
  color: rgb(27, 23, 23);
  font-size: 30px;
  width: 95%;
  text-align: center;
}

#main_form {
  position: relative;
  left: 30%;
  transform: translateX(-50%);
  margin: 5% auto;
  width: 60%;
  height: 600px;
  background-color: #fff;
  border-radius: 10px 10px;
  box-shadow: #000 0 2px 18px;
}

#background_image {
  border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  float: left;
  height: 250px;
  width: 100%;
  z-index: 2;
}

@media (max-width: 1081px) {
  #main_form {
    position: relative; /* need for scrolling in mobile version */
    left: 400px;
    width: 800px;
    height: 1100px;
  }

  #left_content_div {
    position: relative;
    left: 140px;
    top: -380px;
    width: 65%;
    height: 200px;
    font-size: 20px;
    text-align: center;
  }

  #right_content_div {
    position: relative;
    top: -150px;
    left: 150px;
    width: 65%;
    font-size: 20px;
    text-align: center;
  }

  .section_title {
    font-size: 40px;
  }
}
