.radioButtons {
  position: fixed;
  top: 20px;
  left: 300px;
}

.runAndCleanButtons {
  position: relative;
  top: 10px;
  left: 30px;
}

#result {
  position: relative;
  top: 20px;
}

@media screen and (max-width: 600px) {
  .radioButtons {
    position: relative;
    top: 20px;
    left: 0px;
  }
  .runAndCleanButtons {
    top: 30px;
  }
  #result {
    top: 40px;
  }
}
